@page
@using System.Globalization
@{
    Func<int, int?, string> MonthName = (year, month) => {
        if (month.HasValue) {
            return new DateTime(year, month.Value, 1) .ToString("MMMM", CultureInfo.InvariantCulture);
        }
        return "";
    };    
}

<main role="main" class="container archive">
    <div class="row">
        <div class="col blog-filter-header">
            @if (Blog.Archive.Category != null) {
                <div class="row">
                    <div class="col blog-filter-header">
                        <h1>Category: @Blog.Archive.Category.Title</h1>
                    </div>
                </div>
            } else if (Blog.Archive.Tag != null) {
                <div class="row">
                    <div class="col blog-filter-header">
                        <h1>Tag: @Blog.Archive.Tag.Title</h1>
                    </div>
                </div>
            } else if (Blog.Archive.Year.HasValue) {
                <div class="row">
                    <div class="col blog-filter-header">
                        <h1>Posts from @MonthName(Blog.Archive.Year.Value, Blog.Archive.Month) @Blog.Archive.Year</h1>
                    </div>
                </div>        
            } else {
                <div class="row">
                    <div class="col blog-filter-header">
                        <h1>Latest posts</h1>
                    </div>
                </div>        
            }
        </div>
    </div>        

    @foreach (var post in Blog.Archive.Items) 
    {
        <article>
            <header>
                <div class="row justify-content-center">
                    <div class="col-sm-10">
                        <h2><a href="/@post.Slug">@post.Title</a></h2>
                        <partial name="Partial/_PostMeta" for="@post" />
                    </div>
                </div>
            </header>
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="ingress">
                        @post.Excerpt.ToHtml()
                    </div>
                    <p><a class="btn btn-link" href="/@post.Slug">Read more</a></p>
                </div>
            </div>
        </article>
    }

    @if (Blog.Archive.PageCount > 1)
    {
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="pagination d-block">
                    @if (Blog.Archive.Pagination.HasPrev)
                    {
                        <a class="btn btn-link float-left" href="@Blog.Archive.Pagination.PrevLink">Newer posts</a>
                    }
                    @if (Blog.Archive.Pagination.HasNext)
                    {
                        <a class="btn btn-link float-right" href="@Blog.Archive.Pagination.NextLink">Older posts</a>
                    }
                </div>
            </div>
        </div>
    }
</main>
