<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>@(Blog.HasPost ? Blog.Post.Title : Blog.Settings.Title)</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hammersmith+One"> 
    <link rel="stylesheet" href="~/assets/css/style.min.css">
</head>
<body>
    <header role="banner">
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="buttons float-right">
                            <a href="https://twitter.com" target="_blank"><img src="/assets/img/twitter.png" alt="Twitter"></a>
                            <a href="https://github.com" target="_blank"><img src="/assets/img/github.png" alt="GitHub"></a>
                            <a href="https://www.linkedin.com" target="_blank"><img src="/assets/img/linkedin.png" alt="LinkedIn"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="/assets/img/logo.png" alt="Piranha CMS">
                        <h1>@Blog.Settings.Title<small class="d-none d-sm-inline">@Blog.Settings.Description</small></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Copyright &copy; 2018 RazorBlog
                </div>
            </div>
        </div>
    </footer>    

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    @RenderSection("script", required: false)
</body>
</html>

