<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@(Blog.HasPost ? Blog.Post.Title : Blog.Settings.Title)</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/style.min.css">
</head>
<body>
    <header role="banner">
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="buttons float-right">
                            <a href="https://twitter.com" target="_blank"><img src="/assets/img/twitter.png" alt="Twitter"></a>
                            <a href="https://github.com" target="_blank"><img src="/assets/img/github.png" alt="GitHub"></a>
                            <a href="https://www.linkedin.com" target="_blank"><img src="/assets/img/linkedin.png" alt="LinkedIn"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="/assets/img/logo.png" alt="Piranha CMS">
                        <h1><a href="~/">@Blog.Settings.Title</a><small class="d-none d-sm-inline">@Blog.Settings.Description</small></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Copyright &copy; 2018 RazorBlog
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("script", required: false)
</body>
</html>

