@page
@model RazorBlog.Models.PostModel

@section script
{
    <script>
        function postInit() {
            razorblog.comments.load('@Blog.Post.Id', 'comments');
        }
    </script>
    <script async src="~/razorblog/js/comments.min.js" onload="postInit()"></script>
}

<main class="container">
    <article>
        <header>
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <h1>@Blog.Post.Title</h1>
                    <partial name="Partial/_PostMeta" for="@Blog.Post" />
                </div>
            </div>
        </header>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="lead">
                    @Blog.Post.Excerpt.ToHtml()
                </div>
                @Blog.Post.Body.ToHtml()
            </div>
        </div>
    </article>

    @if (Blog.Post.CommentCount > 0)
    {
        <div class="row justify-content-center">
            <div class="col-sm-10 comment-title">
                @if (Blog.Post.CommentCount == 1)
                {
                    <h4>1 Comment</h4>
                }
                else
                {
                    <h4>@Blog.Post.CommentCount Comments</h4>
                }
            </div>
        </div>
    }
    <div id="comments">
    </div>
    <form id="comment-form" method="post" onsubmit="return razorblog.comments.validate();">
        <input type="hidden" name="Comment.PostId" value="@Blog.Post.Id">
        <div class="row justify-content-center">
            <div class="col-sm-10 comment-title">
                <h4>Leave a reply</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="form-group">
                    <textarea id="Body" name="Comment.Body" rows="8" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <div class="form-group">
                    <input id="AuthorName" name="Comment.AuthorName" type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <input id="AuthorEmail" name="Comment.AuthorEmail" type="text" class="form-control" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <button class="btn btn-link" type="submit">Post comment</button>
            </div>
        </div>
    </form>
</main>
